.whole {
    /* border: .5px solid var(--green);  */
    background-color: var(--white);
    position: relative;
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}.backgroundWhole {
    position: absolute;
    transform: scale(1.3);
    left: 44%;
    bottom: 10%;
}.left {
    composes: whole;
    /* background-color: var(--blue); */
    display: flex;
    height: 100%;
    width: 60%;
}.right {
    composes: whole;
    background-color: var(--grayLight);
    display: flex;
    height: 100%;
    width: 40%;
}

.header {
    position: absolute;
    /* background-color: var(--gray); */
    display: flex;
    height: 75px;
    width: 100vw;
    top: 80px;
    justify-content: space-between;
    z-index: 1;
}.headerWrapperLeft {
    position: relative;
    /* background-color: var(--white); */
    display: flex;
    align-content: end;
    align-items: end;
    justify-content: start;
}.headerWrapperRight {
    position: relative;
    /* background-color: var(--blue); */
    display: flex;
    align-content: end;
    align-items: end;
    justify-content: end;
}

.link {
    display: inline-block;
    text-decoration: none;
    font-size: larger;
    font-weight: 700;
    color: var(--gray);
    border-radius: 40px;
    text-align: center;
}.linkActive {
    composes: link;
    border-radius: 40px;
    color: var(--black);
}

.logoWrapper {
    position: relative;
    /* background-color: var(--white); */
    display: flex;
    left: 50px;
    font-weight: 600;
    font-size: 25px;
}.navWrapper{
    position: relative;
    /* background-color: var(--white); */
    display: flex;
    left: 140px;
    gap: 30px;
}.menuWrapper {
    position: relative;
    /* background-color: var(--white); */
    display: flex;
    right: 50px;
    gap: 60px;
}

.form {
    position: relative;
    /* background-color: var(--orange); */
    display: flex;
    height: 60%;
    width: 80%;
    top: 25%;
    flex-direction: column;
    align-items: start;
    align-content: stretch;
    gap: 30px;
}.label {
    position: relative;
    /* background-color: var(--blue); */
    color: var(--gray);
    display: grid;
    font-size: larger;
    font-weight: 700;
    height: 4em;
}