@import-normalize; /* bring in normalize.css styles */

:root {
  --white: rgba(255,255,255,1);
  --black: rgba(33, 33, 33, 1);
  --gray: rgba(155, 159, 170, 1);
  --grayLight: rgba(224, 224, 224, 1);
  --orange: rgba(252, 132, 45, 1);
  /* --error: rgba(252, 132, 45, 0.1); */
  --blue: rgba(38, 64, 97, 1);
  --success: rgba(222,247,236,1);
  --error: rgba(253,232,232,1);
  --warning: rgba(254,236,220,1);
  
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}h1, h2, h3, h4, h5, h6, p { margin: 0; } ul, ol { margin: 0; padding: 0; list-style: none; } img { display: block; max-width: 100%; height: auto;
}li {list-style: none;
}input {
  width: 100%;
  /* background: transparent; */
  /* background: var(--white); */
  padding: 8px;
  /* border: 1px solid var(--gray); */
  font-size: larger;
  border: none;
  border-bottom: 2px solid var(--gray);
  background-color: var(--white);
  color: var(--gray);
  outline: none;
  /* height: 2em; */
  text-indent: 10px;
  /* color-scheme: dark; */
}input:-webkit-autofill,input:-webkit-autofill:hover,input:-webkit-autofill:focus,input:-webkit-autofill:active{
  -webkit-background-clip: text;
  -webkit-text-fill-color: var(--gray);
  box-shadow: inset 0 0 20px 20px var(--white);
  font-size: larger !important;
}